*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgba(255, 124, 17, 0.762);
    gap: 50px;
    color: white;
}
h2{
    font-size: 40px;
    padding: 10px;
    position: relative;
    bottom: 10px;
}
h2::first-letter{
    color: red;
}
p{
    font-size: 30px;
}
span{
    opacity: 0.7;
}


.dot{
        position:absolute;
        width:10px;
        height:10px;
        background:#00ffcc;
        border-radius:50%;
        pointer-events:none;
        transform:translate(-50%,-50%);
        animation:fade 0.6s ease-out forwards;
    }
    button{
        padding: 5px 8px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
    }